.page-header > div > h2{
    color: #ff5810;
    text-align: center;
}

.page-header > h2{
    color: #ff5810;
    text-align: center;
}

.registration-daily{
    background-color: black;
    color: white;
    width: 150px;
}

.registration-daily:hover{
    background-color: #ff5810;
    color: white;
}

.hided{
    padding-right: 13px !important;
}