.daily-table > tbody > tr > td > span{
    font-size: 100%;
    border-radius: 0 !important;
}

.daily-form{
    padding-left: 11px;
    padding-right: 2px;
}

.daily-form > div{
    padding-left: 4px;
    padding-right: 4px;
}

.daily-form > .date-form{
    width: 15%;
}

.daily-form > .rest-form{
    width: 9%;
}

input{
    border-radius: 0 !important;
}

.input-group-addon{
    border-radius: 0 !important;
}

.form-control{
    border-radius: 0 !important;
}

.btn-group-vertical>.btn, .btn-group>.btn{
    border-radius: 0 !important;
}

.btn-group>.btn-primary{
    border-color: #2e6da4 !important;
    border: thin solid;
}

textarea{
    border-radius: 0 !important;
}

.day > span{
    border-radius: 0 !important;
}

.time > span{
    border-radius: 0 !important;
}

.modal-content{
    border-radius: 0 !important;
}

.modal-footer > .btn-default{
    background-color: black;
    border: initial;
    color: white;
}

.modal-footer > .btn-default:hover{
    background-color: #ff5810;
}

.panel{
    border-radius: 0 !important;

}

.total-view > div > div > .btn-default{
    background-color: black;
    border: initial;
    color: white;
}

.total-view > div > div > .btn-default > span{
    font-weight: bolder;
}

.total-view > div > div > .btn-default:hover{
    background-color: #ff5810;
}

.panel-body > form > div > div > button{
    background-color: black;
    border: initial;
    color: white;
}

.panel-body > form > div > div > button:hover{
    background-color: #ff5810;
    color: white;
}

.nav-tabs>li>a {
    border-radius: 0 0 0 0 !important;
}

.print-budget{
    background-color: black;
    border: initial;
    color: white;
}

.print-budget:hover{
    background-color: #ff5810;
}

.print-budget > span{
    font-weight: bolder;
}