button.btn.btn-ghost{
    background: transparent;
}
button.btn.btn-ghost:hover{
    outline : none;
}
button.btn-ghost.btn-default {
  color: #777;
}

button.btn-ghost.btn-primary {
  color: #337ab7;
}

button.btn-ghost.btn-success {
  color: #5cb85c;
}

button.btn-ghost.btn-info {
  color: #5bc0de;
}

button.btn-ghost.btn-warning {
  color: #f0ad4e;
}

button.btn-ghost.btn-danger {
  color: #d9534f;
}
button.btn-ghost.btn-primary:hover,
button.btn-ghost.btn-success:hover,
button.btn-ghost.btn-info:hover,
button.btn-ghost.btn-warning:hover,
button.btn-ghost.btn-danger:hover {
  color: #fff;
}
button.btn-ghost.btn-white {
  color: #fff;
  border: 1px solid #fff;
}

button.btn-ghost.btn-white:hover {
  color: #333;
}

button {
  border-radius: initial !important;
}

.btn-primary {
  border: none;
  background-color: #0d6ecf !important;
}
.btn-danger {
  background-color: #f30f22!important;
  border: none;
}

.btn-warning {
  color: #fff;
  background-color: #ffc310;
  border: none;
}

.print-budget{
  background-color: black;
  border: initial;
  color: white;
}

.print-budget:hover{
  background-color: #ff5810;
  color: white;
}

.print-budget > span{
  font-weight: bolder;
}

.btn-group-vertical>.btn, .btn-group>.btn{
  border-radius: 0 !important;
}

.btn-group>.btn-primary{
  border-color: #2e6da4 !important;
  border: thin solid;
}

.total-view > div > div > .btn-default{
  background-color: black;
  border: initial;
  color: white;
}

.total-view > div > div > .btn-default > span{
  font-weight: bolder;
}

.total-view > div > div > .btn-default:hover{
  background-color: #ff5810;
}

.panel-body > form > div > div > button{
  background-color: black;
  border: initial;
  color: white;
}

.panel-body > form > div > div > button:hover{
  background-color: #ff5810;
  color: white;
}

.print-budget{
  background-color: black;
  border: initial;
  color: white;
}

.print-budget:hover{
  background-color: #ff5810;
  color: white;
}

.print-budget > span{
  font-weight: bolder;
}