button.btn.btn-ghost{
    background: transparent;
}
button.btn.btn-ghost:hover{
    outline : none;
}
button.btn-ghost.btn-default {
  color: #777;
}

button.btn-ghost.btn-primary {
  color: #337ab7;
}

button.btn-ghost.btn-success {
  color: #5cb85c;
}

button.btn-ghost.btn-info {
  color: #5bc0de;
}

button.btn-ghost.btn-warning {
  color: #f0ad4e;
}

button.btn-ghost.btn-danger {
  color: #d9534f;
}
button.btn-ghost.btn-primary:hover,
button.btn-ghost.btn-success:hover,
button.btn-ghost.btn-info:hover,
button.btn-ghost.btn-warning:hover,
button.btn-ghost.btn-danger:hover {
  color: #fff;
}
button.btn-ghost.btn-white {
  color: #fff;
  border: 1px solid #fff;
}

button.btn-ghost.btn-white:hover {
  color: #333;
}

button {
  border-radius: initial !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-bottom-left-radius: initial !important;
  border-top-left-radius: initial !important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-bottom-right-radius: initial !important;
  border-top-right-radius: initial !important;
}

.list-group-item:first-child {
  border-top-right-radius: initial !important;
  border-top-left-radius: initial !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: initial !important;
  border-bottom-left-radius: initial !important;
}

.btn-primary {
  border: none;
  background-color: #0d6ecf !important;
}
.btn-danger {
  background-color: #d9534f !important;
  border: none;
}

.btn-warning {
  color: #fff;
  background-color: #f39f0f;
  border: none;
}