.event-name {
    font-size:24px;
    text-align: center;
    color: #ff5810;
}
.event-name p {
    margin: auto;
    padding: 1.5em;
}

.event-detail {
    padding: .5em 1em;
    margin: 2em 0;
    color: #232323;
    font-size: 24px;
    text-align: center;
    border-right: solid 24px #ff5810;
}
.event-detail p {
margin: auto;
padding: 1.5em;
line-height: 2em;
}
span.glyphicon.glyphicon-pushpin {
    font-size: 24px;
}