div.event-title > p {
    font-size: 40px;
}

.ans-btn {
    font-size: 32px;
    width: 72px;
}

.panel-default>.panel-heading {
    font-size: 16px;
    color: #ff5810;
}

th {
    background-color: #ff5810;
    color: #fff;
}
button.btn.btn-success.btn-lg.ev-ans-btn {
    width: 126px;
    height: 64px;
    font-size: 24px;
    align-content: center;
}
