div.event-title > p {
    font-size: 40px;
}

.ans-btn {
    font-size: 32px;
    width: 72px;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    border-radius: 0!important;
    width: 64px;
    font-size: 24px;
    line-height: 2;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #ff5810;
    border-color: #ddd;
}