.modal-footer > .btn-default{
    background-color: black;
    color: white;
}

.modal-footer > .btn-default:hover{
    background-color: #ff5810;
}

.modal-footer > .closed{
    background-color: white;
    color:black;
}

.modal-footer > .closed:hover{
    background-color: initial;
}