input{
    border-radius: 0 !important;
}

.input-group-addon{
    border-radius: 0 !important;
}

.form-control{
    border-radius: 0 !important;
}

textarea{
    border-radius: 0 !important;
}

.day > span{
    border-radius: 0 !important;
}

.time > span{
    border-radius: 0 !important;
}

.modal-content{
    border-radius: 0 !important;
}