.safety-mails-ratio{
    font-size: 25px;
}

.mail-form-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-top-width: 8px;
    border-radius: 0px;
}

.mail-form-callout {
    border-top-color: #ff5810;
}

.mail-create-button {
    font-size: 20px;
}

.schedule-contents {
    font-size: 20px;
}

.safety-status {
    font-size: 15px;
}
.icon-color{
    color: #ff5810;
}

.panel-body.mail-panel:hover {
    background: #ececec;
}

.table-center {
    text-align: center;
}

.textarea-resize {
    resize: vertical;
    width: 100%;
}