.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.active > th {
    text-align: center;
}

tbody  .bold{
    font-weight: bolder;
    font-family: 'Rounded Mplus 1c',sans-serif;
}
