<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ランチマッチング</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Users/nagahoayaka/Documents/Projects/fourmix-system/resources/assets/css/lunch.css">
    <link rel="stylesheet" type="text/css" href="/Users/nagahoayaka/Documents/Projects/fourmix-system/public/css/app.css">

</head>
    <body>
        <div class="container lunch-cont">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button type="button" class="btn btn-info btn-lg" onClick="location.href='http://fourmix-system.app/dailies'">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>
            </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="title">
                                <div>
                                    <h2>
                                        本日のランチマッチング　7/27
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tableware">
                            <img src="/Users/nagahoayaka/Documents/Projects/fourmix-system/public/img/fork.png" class="rounded float-right">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hands" >
                            <img src="/Users/nagahoayaka/Documents/Projects/fourmix-system/public/img/hands.png" class="rounded float-right">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 glass">
                            <img src="/Users/nagahoayaka/Documents/Projects/fourmix-system/public/img/glass.png" class="rounded float-right">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"align="center">
                                <p>
                                    <button type="button" class="btn btn-warning btn-lg lunch-btn">参加</button>
                                <div class="title">
                                <h3>
                                    締め切り：12:00
                                </h3>
                                </div>
                                </p>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 people">
                                <img src="/Users/nagahoayaka/Documents/Projects/fourmix-system/public/img/hitoA.png" class="rounded float-right">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 people">
                                <img src="/Users/nagahoayaka/Documents/Projects/fourmix-system/public/img/hitoC.png" class="rounded float-right">
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 people">
                                <img src="/Users/nagahoayaka/Documents/Projects/fourmix-system/public/img/hitoB.png" class="rounded float-right">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>